#calc{
    margin: auto auto;
    height: 700px;
    width: 600px;
    background: black;

}
#screen{
	margin: auto auto;
	height: 50px;
	width: 400px;
	background: white;
	padding-top: 20px;
	padding-bottom: 10px;
	border: 55px black solid;
}
.number{
	background: white;
	height: 50px;
	width: 50px;
	float: left;
	padding: 20px;
	text-align: center;
	border: 15px black solid;
}
.func{
	background: white;
	height: 50px;
	width: 50px;
	float: left;
	padding: 20px;
	text-align: center;
	border: 15px black solid;
}