#top-bar{
	height: 50px;
	width: 100%;
}
#calc{
    margin: auto auto;
    height: 375px;
    width: 270px;
    background: black;
    border-radius: 15px;
}
#screen{
	margin: auto auto;
	margin-bottom: 5px;
	height: 50px;
	width: 250px;
	background: white;
	padding-top: 15px;
	padding-bottom: 5px;
	border: 10px black solid;
	text-align: right;
	font-size: 2.5em;
	border-radius: 20px;

}

.button{
	border-radius: 20px;
	height: 5px;
	width: 5px;
	border: 10px black solid;
}

.number{
	background: white;
	float: left;
	padding: 20px;
	text-align: center;
	font-size: 1.5em;
}

.button:hover{
	background: gray;
	cursor: pointer;
}

.button:active{
	background: red;
}

.func{
	background: white;
	float: left;
	padding: 20px;
	text-align: center;
}